/* app css stylesheet */

h1 {
	font-family: 'Graduate', cursive !important;
}
.container-fluid {
  padding: 10px;
}

.logo{
  float: none;
  display: inline-block;
}

.title {
  font-size: 2.5em;
  display: inline-block;
  vertical-align: bottom;
}

.start-button {
  padding: 15px;
  padding-top: 20px; 
  vertical-align: bottom;
}

.start-button button {
  border-radius: 0px;
  border-color: black;
  background-color: #FFFFFF;
  border-width: 3px;
  font-family: 'Graduate', cursive !important;
}

.btn:focus {
  outline-color: red !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


