<div class="panel panel-default col-md-6">
  <div class="panel-heading">Leaderboard EASY MODE</div>
  <table class="table">
	<p ng-repeat="user in users">{{ user.name }}</p>
  </table>
</div>

<div class="panel panel-default col-md-6">
  <div class="panel-heading">Leaderboard HARD MODE</div>
  <table class="table">
	<p ng-repeat="user in users">{{ user.name }}</p>
  </table>
</div>

<button type="button" class="btn btn-primary" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Start Game
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Start your game</h4>
	      	</div>
	      	<div class="modal-body">
		      	<div class="input-group">
		      		<span class="input-group-addon" id="basic-addon1">Enter your Name</span>
		  			<input type="text" class="form-control" placeholder="Player Name" aria-describedby="basic-addon1">
		      	</div>
	      		<h3>Pick your difficulty</h3>
		        <div class="btn-group btn-group-justified select-mode" role="group" aria-label="...">
				  	<div class="btn-group" role="group">
				    	<button id="easy-button" type="button" class="btn btn-default" value="easy">Easy</button>
				  	</div>
				  	<div class="btn-group" role="group">
				    	<button id="hard-button" type="button" class="btn btn-default" value="hard">Hard</button>
				  	</div>
				</div>
	      	</div>
		    <div class="modal-footer">
		      	<a ng-click="beginGame()" id="begin-game" href="game">
					<button type="button" class="btn btn-default">Begin!</button>
		      	</a>
		    </div>
    	</div>
  	</div>
</div>