<!-- <div class="panel panel-default col-md-6">
  <div class="panel-heading">Leaderboard EASY MODE</div>
  <table class="table">
	<p ng-repeat="user in users">{{ user.name }}</p>
  </table>
</div>

<div class="panel panel-default col-md-6">
  <div class="panel-heading">Leaderboard HARD MODE</div>
  <table class="table">
	<p ng-repeat="user in users">{{ user.name }}</p>
  </table>
</div> -->
<div class="row">
	<div class="score col-md-5">
		<h1 class="text-center">Score: <span ng-bind="points"></span></h1>
	</div>
	<div class="text-center col-md-2 start-button">
		<button ng-click="startTimer()" id="#start" type="button" class="btn">Start Game</button>
	</div>
	<div class="time col-md-5">
		<h1 class="text-center">Time: <span ng-bind="t"></span></h1>
	</div>
</div>


<div class="text-center cups">
	<svg width="500px" height="500px" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
	    <title>Artboard 1</title>
	    <desc>Created with Sketch.</desc>
	    <defs></defs>
	    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <g id="Artboard-1">
	            <polygon id="Board" stroke="#FF0000" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF" transform="translate(249.500000, 249.500000) scale(1, -1) translate(-249.500000, -249.500000) " points="249.5 24 475 475 24 475"></polygon>
	            
                <circle id="cup_6" fill="#FF0000" cx="370" cy="92" r="40"></circle>
        		<circle id="cup_5" fill="#FF0000" cx="250" cy="92" r="40"></circle>
        		<circle id="cup_4" fill="#FF0000" cx="130" cy="92" r="40"></circle>
        		<circle id="cup_3" fill="#FF0000" cx="310" cy="204" r="40"></circle>
        		<circle id="cup_2" fill="#FF0000" cx="190" cy="204" r="40"></circle>
        		<circle id="cup_1" fill="#FF0000" cx="250" cy="324" r="40"></circle>
	          
	            <circle id="inner_6" stroke="#909090" fill="#FFFFFF" cx="370.5" cy="92.5" r="29.5"></circle>
	            <circle id="inner_5" stroke="#909090" fill="#FFFFFF" cx="250.5" cy="92.5" r="29.5"></circle>
	            <circle id="inner_4" stroke="#909090" fill="#FFFFFF" cx="130.5" cy="92.5" r="29.5"></circle>
	            <circle id="inner_3" stroke="#909090" fill="#FFFFFF" cx="310.5" cy="204.5" r="29.5"></circle>
	            <circle id="inner_2" stroke="#909090" fill="#FFFFFF" cx="190.5" cy="204.5" r="29.5"></circle>
	            <circle id="inner_1" stroke="#909090" fill="#FFFFFF" cx="250.5" cy="324.5" r="29.5"></circle>
	        </g>
	    </g>
	</svg>
</div>

<!-- Modal -->

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Start your game</h4>
	      	</div>
	      	<div class="modal-body">
		      	<div class="input-group">
		      		<span class="input-group-addon" id="basic-addon1">Enter your Name</span>
		  			<input id="1234" type="text" class="form-control" placeholder="Player Name" aria-describedby="basic-addon1">
		      	</div>
	      		<h3>Pick your difficulty</h3>
		        <div id="game-mode" class="btn-group btn-group-justified select-mode" role="group" aria-label="...">
				  	<div class="btn-group" role="group">
				    	<button ng-click="easyMode()" id="easy-button" type="button" class="btn btn-default active" value="easy">Easy</button>
				  	</div>
				  	<div class="btn-group" role="group">
				    	<button ng-click="hardMode()" id="hard-button" type="button" class="btn btn-default" value="hard">Hard</button>
				  	</div>
				</div>
	      	</div>
		    <div class="modal-footer">
		      	<a ng-click="beginGame()" id="begin-game" href="game">
					<button type="button" class="btn btn-default">Begin!</button>
		      	</a>
		    </div>
    	</div>
  	</div>
</div> -->
